@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">

    <div class="text-center mt-5">
        <p class="lead">
           Registra la información de todos los empleados que van a hacer uso del servicio de restaurante!
        </p>
        <a asp-controller="Empleados" asp-action="Create" class="btn btn-success btn-lg">Agregar Nuevo Empleado</a>
    </div>
</div>
